<div class="w-full h-full flex flex-col bg-indigo-700">
  <div class="self-start place-self-start md:my-12 w-auto flex ml-8 md:h-auto py-8 md:py-0">
     <h1 class="text-3xl font-extrabold tracking-tight text-gray-900 sm:text-4xl text-white">Sign Up </h1>
  </div>
  <div class="flex items-center justify-center w-full bg-white">
   <div class="flex w-full md:w-1/2 h-full flex-col items-center mt-8 py-8 justify-center rounded-md shadow-md">
         <div class="flex w-full ml-12 md:items-start items-center justify-center md:justify-start flex-col col-span-6 sm:col-span-4">
          <label
            for="email-address"
            class="block text-sm font-medium text-gray"
            >Email address</label
          >
          <input
            type="text"
            name="email-address"
            id="email-address"
            autocomplete="email"
            class="mt-2 focus:ring-indigo-500 focus:border-indigo-500 block  w-1/3 shadow-sm sm:text-sm border-gray-300 rounded-md h-10 px-2"
          />
        </div>
          <div class="flex flex-col mt-8 ml-12 md:items-start items-center justify-center md:justify-start col-span-6 w-full sm:col-span-4">
          <label
            for="email-address"
            class="block text-sm font-medium  text-gray"
            >Password</label
          >
          <input
            type="text"
            name="email-address"
            id="email-address"
            autocomplete="email"
            class="mt-2 focus:ring-indigo-500 focus:border-indigo-500 block w-1/3 shadow-sm sm:text-sm border-gray-300 rounded-md h-10 px-2"
          />
        </div>
        <div class="flex w-full flex-col mt-8  ml-12 items-start justify-start col-span-6 sm:col-span-4">
          <label
            for="email-address"
            class="block text-sm font-medium text-gray"
            >Email address</label
          >
          <input
            type="text"
            name="email-address"
            id="email-address"
            autocomplete="email"
            class="mt-2 focus:ring-indigo-500 focus:border-indigo-500 block  w-1/3 shadow-sm sm:text-sm border-gray-300 rounded-md h-10 px-2"
          />
        </div>
        <div class="flex w-full flex-col mt-8  ml-12 md:items-start items-center justify-center md:justify-start col-span-6 sm:col-span-4">
          <label
            for="email-address"
            class="block text-sm font-medium text-gray"
            >Email address</label
          >
          <input
            type="text"
            name="email-address"
            id="email-address"
            autocomplete="email"
            class="mt-2 focus:ring-indigo-500 focus:border-indigo-500 block  w-1/3 shadow-sm sm:text-sm border-gray-300 rounded-md h-10 px-2"
          />
        </div>
        <div class="w-full flex   items-center justify-center  justify-items-center m-4 mt-12">
          <button
            href="#"
            class="w-1/2 flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 md:py-2 md:text-lg md:px-10"
          >
            Get started
          </button>
        </div>
      </div>
    </div>
</div>

