<div class="uk-width-1-1 uk-height-1-1 uk-flex">
  <mat-drawer-container class="uk-width-1-1">
    <mat-drawer mode="side" opened class="uk-width-medium">
      <mat-list role="list">
        <mat-list-item role="listitem"
          ><span uk-icon="icon: check" class="uk-margin-right"></span>
          Account</mat-list-item
        >
        <mat-list-item role="listitem">Biography</mat-list-item>
        <mat-list-item role="listitem">To do</mat-list-item>
      </mat-list>
    </mat-drawer>
    <mat-drawer-content> Hello </mat-drawer-content>
  </mat-drawer-container>
</div>
