<div class="uk-child-width-1-2@s" uk-grid>
  <div>
    <div class="uk-card uk-card-default uk-card-small uk-card-body">
      <h3 class="uk-card-title">Small</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </p>
    </div>
  </div>
  <div>
    <div class="uk-card uk-card-default uk-card-large uk-card-body">
      <h3 class="uk-card-title">Large</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </p>
    </div>
  </div>
</div>
