<div
  class="flex h-3/4 px-4 sm:px-6 mb-4 flex-col justify-center items-center md:justify-start md:items-start"
>
  <div class="mb-4">
    <h2
      class="text-3xl font-extrabold tracking-tight text-gray-900 sm:text-4xl"
    >
      Technical Specifications
    </h2>
  </div>
  <div class="flex md:flex-row flex-col h-full">
    <div
      class="rounded-md shadow-md flex w-64 h-full flex-row md:flex-col items-center"
    >
      <h3 class="text-xl my-4">data</h3>

      <div class="flex px-6 my-4">
        <ul>
          <li>Ventaja 1</li>
          <li>Ventaja 1</li>
        </ul>
      </div>
      <div
        class="justify-items-end flex items-end w-full place-content-end content-end px-4 h-full"
      >
        <div class="w-full mb-4">
          <button
            href="#"
            class="w-full flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 md:py-4 md:text-lg md:px-10"
          >
            Get started
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
