<div class="uk-flex uk-flex-center uk-flex-middle uk-height-large">
  <div
    class="uk-background-primary uk-position-top uk-width-expand uk-height-medium"
  ></div>
  <div
    class="uk-card uk-card-default uk-card-body uk-width-1-2@m uk-height-large uk-margin-large-top"
  >
    <div class="uk-card-badge uk-label">Email confirmation</div>
    <div
      class="uk-flex uk-flex-center uk-flex-middle uk-flex-column uk-height-medium"
    >
      <div>
        <h2>Confirmation</h2>
        <form>
          <div class="uk-flex uk-flex-column">
            <label class="uk-margin-medium-bottom"
              >Introduce the code that was send to your mail</label
            >
            <input
              class="uk-input"
              type="text"
              placeholder="6 digit code here"
            />
          </div>
        </form>
      </div>
    </div>
    <button
      class="uk-button-primary uk-button uk-position-bottom-right uk-margin-right uk-margin-bottom"
    >
      <a
        class="uk-link-text"
        routerLink="/SignUp/Confirmation"
        routerLinkActive="active"
        >Finish sign up</a
      >
    </button>
  </div>
</div>
