<div class="uk-flex uk-flex-center uk-flex-middle uk-height-large">
  <div
    class="uk-background-primary uk-position-top uk-width-expand uk-height-medium"
  ></div>
  <div
    class="uk-card uk-card-default uk-card-body uk-width-1-2@m uk-height-large uk-margin-large-top"
  >
    <div class="uk-card-badge uk-label">About me</div>
    <div class="uk-margin">
      <label class="uk-form-label" for="form-horizontal-select">Gender:</label>
      <div class="uk-form-controls uk-margin-top">
        <select class="uk-select" id="form-horizontal-select">
          <option>Male</option>
          <option>Female</option>
          <option>No binarie</option>
        </select>
      </div>
    </div>
    <div class="uk-margin">
      <label class="uk-form-label" for="form-horizontal-select"
        >About me:</label
      >
      <textarea
        class="uk-textarea uk-margin-top"
        rows="5"
        placeholder="Biography"
      ></textarea>
    </div>
    <div>
      <button
        class="uk-button-primary uk-button uk-position-bottom-right uk-margin-right uk-margin-bottom"
      >
        <a
          class="uk-link-text"
          routerLink="/SignUp/Confirmation"
          routerLinkActive="active"
          >Continue</a
        >
      </button>
      <div></div>
    </div>
  </div>
</div>
